* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}

.bar-one {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.bar-one ul {
  display: flex;
  list-style: none;
  margin: 0.5em 1em;
}

.bar-one li,
.bar-two li {
  margin: 0 0.6em;
}

.removable-icons {
  display: none;
}

.bar-one a {
  text-decoration: none;
  font-size: 0.8em;
  color: #999;
}

.bar-two {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.removable-img {
  width: 120px;
  display: none;
}

.bar-two ul {
  display: flex;
  list-style: none;
  margin: 1em 1em;
}

.bar-two a {
  text-decoration: none;
  font-size: 0.9em;
  color: #999;
}

.list-1 li,
.list-2 li {
  margin-top: 0.2em;
}

.list-2 .search {
  margin: 0.2em 1em;
}

.list-2 img {
  height: 25px;
}

.list-2 .start {
  font-size: smaller;
  margin-top: 0.3em;
}

.list-2 .date {
  color: red;
  font-size: 1.3em;
}

.list-2 button {
  background-color: turquoise;
  border: 0;
  border-radius: 2px;
  font-weight: bold;
  padding: 8px 8px;
  color: white;
  font-size: 0.65em;
}

.bar-three {
  background-color: #fd3;
  padding: 0.5em 0;
}

.bar-three a {
  margin: 0 1.7em;
  text-decoration: none;
  font-size: 0.9em;
  color: black;
}

main {
  width: auto;
  display: grid;
  grid-template-columns: 4fr, repeat(2, 2fr);
  grid-gap: 10px;
  margin: 8.5em 0.2em 0.2em 0.2em;
}

.sec-1 {
  grid-column: 1/ 3;
  grid-row: 1/3;
  background: linear-gradient(rgba(231, 71, 71, 0.877), rgba(0, 0, 0, 0.8)), url(./TNW-Images/cover-image-crowd.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.sec-head {
  display: flex;
  justify-content: space-between;
}

.sec-head img {
  width: 50%;
  height: 130px;
}

.sec-head p {
  color: white;
  font-size: 0.95em;
  margin: 1em;
}

.sec-foot {
  margin-top: 3em;
  margin-left: 1em;
  margin-bottom: 1em;
}

.sec-foot p,
.sec-3 p {
  color: #999;
  font-size: 0.9em;
}

.sec-foot h5 {
  color: white;
  font-size: 1.1em;
}

.sec-foot h1 {
  font-size: 3.5em;
  color: white;
}

.sec-1 a,
.sec-3 a {
  text-decoration: none;
  color: #999;
}

.sec-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(./TNW-Images/gridded-img6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-column: 3;
  grid-row: 1;
}

.sec-2 h1 {
  margin: 5em 0.2em 0 0.2em;
}

.sec-3 div {
  margin: 7em 0.5em 0 0.5em;
}

.sec-2 h1,
.sec-3 h1,
.sec-3 h5 {
  color: white;
}

.sec-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(./TNW-Images/gridded-img3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  grid-column: 3;
  grid-row: 2;
}

.gridded {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-template-areas: "head head head head";
  padding: 2em 6em;
  width: 100%;
}

.grid-address {
  grid-area: head;
}

.grid-address a {
  text-decoration: none;
  color: #f42;
}

.gridded-image {
  width: 100%;
  height: 150px;
}

.news a {
  text-decoration: none;
}

.funds-address a {
  text-decoration: none;
  color: #f42;
}

.fund-head a {
  color: white;
  text-decoration: none;
  margin-left: 5em;
}

.fund-footer a,
.footer-footer a {
  display: block;
  padding: 0.5em 1em;
  font-size: 0.85em;
  text-decoration: none;
  color: #444;
}

.common-text a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
}

.list-grid-mid a {
  text-decoration: none;
  color: #f42;
}

.list-grid-footer a {
  color: #999;
  text-decoration: none;
  font-size: 0.9em;
}

.social-icons a {
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #999;
  background-color: #666;
  padding: 10px 12px;
  color: white;
}

.social-list a {
  color: #777;
  text-decoration: none;
  padding: 0 0.5em;
  font-size: 0.9em;
}

.news h4 a {
  color: black;
}

.news p,
.news p a {
  color: #999;
  font-size: 0.9em;
}

.fund-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "head head head head";
  padding: 2em 6em;
  grid-gap: 20px;
  width: 100%;
}

.funds-address {
  grid-area: head;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}

.funds-address ul {
  display: flex;
  list-style: none;
}

.funds-address li {
  padding: 0 0.5em;
  border-right: 1px solid #f42;
}

.fund-head {
  background-color: #f42;
  padding: 0.5em 0;
}

.fund-grid img {
  width: 60px;
  height: 60px;
  position: relative;
  margin: -1.5em 0.4em 0 0.4em;
}

.fund-body {
  background-color: #ffebe8;
  padding: 1em 0;
  margin-top: -2.5em;
}

.fund-body h5,
.fund-body h6 {
  text-align: center;
  font-weight: bold;
  font-size: 0.85em;
}

.fund-footer {
  margin-top: 0.5em;
  border-bottom: 0.1px solid #f42;
}

.footer-footer {
  margin-top: 0.5em;
}

.list-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2em 6em;
  grid-gap: 20px;
}

.list-grid h2 a {
  color: #f42;
  text-decoration: none;
}

.apps-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/apps.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gear-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/gear.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tech-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/tech.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.creative-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/creative.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.podium-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/podium.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.insights-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/insights.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.launch-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/launch.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.distract-body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url(./TNW-Images/distract.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.common-text {
  padding: 12em 0 1em 1em;
  margin-top: 1em;
}

.common-text h5 {
  color: white;
  font-size: 0.8em;
}

.common-text p {
  color: #999;
  font-size: 0.7em;
}

.list-grid-mid {
  display: flex;
  justify-content: space-between;
  background-color: #ffebe8;
  padding-left: 1em;
}

.list-grid-mid h5 {
  color: #f42;
  padding-top: 1em;
}

.list-grid-mid img {
  width: 96px;
  height: 96px;
}

.list-grid-footer {
  padding-left: 1em;
}

.list-grid-footer li {
  line-height: 25px;
  color: #f42;
}

footer {
  width: 100%;
}

.first-footer {
  background-color: #333;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  padding: 3em 0;
}

.social-icons {
  display: flex;
  list-style: none;
  padding: 1em 0 0 auto;
}

.social-icons li {
  padding: 0 0.5em;
}

.social-list {
  display: flex;
  list-style: none;
  padding: 1em 0;
}

.second-footer {
  background-color: black;
  text-align: center;
  padding: 2em 0;
}

.second-footer p {
  color: #999;
  font-size: 0.9em;
}

.second-footer span {
  color: red;
  font-size: 1.5em;
}

.bar-one a:hover {
  color: white;
}

.bar-two a:hover,
.funds-address a:hover,
.grid-address a:hover,
.news p a:hover,
.list-grid h2 a:hover {
  color: black;
}

.list-2 button:hover {
  background-color: #609;
  cursor: pointer;
}

@media only screen and (max-width: 1024px) and (min-width: 601px) {
  .removable-img {
    display: block;
  }

  .bar-two {
    justify-content: space-between;
  }

  .bar-two .list-2,
  .bar-one {
    display: none;
  }

  /* .bar-two .list-1 li {
    font-size: 0.8em;
    margin: 0.5em 0.2em;
  } */

  .removable-icons {
    display: block;
    padding: 1.2em 1em;
  }

  .removable-icons a {
    padding: 0 1em;
    font-size: 1em;
  }

  .bar-three a {
    font-size: 0.8em;
  }

  main {
    display: grid;
    grid-template-columns: 4fr repeat(2, 4fr);
    margin-top: 8em;
  }

  .sec-1 {
    grid-column: 1/ 3;
    grid-row: 1/ 3;
  }

  .sec-head img {
    display: none;
  }

  .sec-foot h1 {
    font-size: 2em;
  }

  .sec-2 {
    grid-column: 3;
    grid-row: 1;
  }

  .sec-2 h1 {
    margin-top: 8em;
  }

  .sec-3 {
    grid-column: 3;
    grid-row: 2;
  }

  .sec-2 h1,
  .sec-3 h1 {
    font-size: 1em;
  }

  .gridded {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "head head head";
    margin: 1em 0;
    padding: 0 1em;
  }

  .grid-address {
    grid-area: head;
  }

  .fund-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "head head head";
    margin: 1em 0;
    padding: 0 1em;
  }

  .funds-address {
    grid-area: head;
    display: block;
    font-size: 0.9em;
  }

  .removable {
    display: none;
  }

  .list-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5em 0;
    padding: 0 1em;
  }

  .social-icons li {
    padding: 0 0.2em;
  }

  .social-icons a {
    padding: 8px 10px;
  }

  .social-list a {
    padding: 0 0.2em;
  }
}

@media only screen and (min-width: 601px) and (max-width: 830px) {
  .bar-two .list-1 li {
    font-size: 0.8em;
    margin: 0.5em 0.2em;
  }

  .removable-icons {
    display: block;
    padding: 1.2em 0.5em;
  }

  .removable-icons a {
    padding: 0 0.2em;
    font-size: 1em;
  }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
  .removable-img {
    display: block;
  }

  .bar-two {
    display: flex;
    justify-content: space-between;
  }

  .bar-one,
  .bar-two .list-1,
  .bar-two .list-2 {
    display: none;
  }

  .removable-icons {
    display: block;
    padding: 1.5em;
  }

  .removable-icons a {
    padding: 0 1em;
    font-size: 1em;
  }

  .bar-three a {
    font-size: 0.7em;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 4em;
  }

  .sec-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .sec-head img {
    display: none;
  }

  .sec-foot h1 {
    font-size: 2em;
  }

  .sec-2 {
    grid-column: 1;
    grid-row: 2;
  }

  .sec-3 {
    grid-column: 1;
    grid-row: 3;
  }

  .gridded {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "head";
    margin: 1em 0;
    padding: 0 1em;
  }

  .gridded div {
    display: flex;
  }

  .gridded .news {
    display: block;
  }

  .gridded-image {
    width: 150px;
    height: 100px;
    margin-right: 0.5em;
  }

  .grid-address {
    grid-area: head;
  }

  .fund-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "head";
    margin: 1em 0;
    padding: 0 1em;
  }

  .funds-address {
    grid-area: head;
    display: block;
    font-size: 0.9em;
  }

  .list-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1em 0;
    padding: 0 1em;
  }

  .social-icons li {
    padding: 0 0.2em;
  }

  .social-icons a {
    padding: 5px 7px;
  }

  .social-list a {
    padding: 0 0.2em;
  }
}
